body {
    background-image: url(../images/medicines-medical-supplies-placed-blue.jpg);
    background-size: cover;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.login-container {
    background:blur(10);
    box-shadow: black;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}
.form-control:focus {
    box-shadow: none;
    border-color: #007bff;
}
.login-btn {
    background-color: #007bff;
    border: none;
    border-radius: 5px;
}
.login-btn:hover {
    background-color: #0056b3;
}